<h1><%= link_to @discussion.board.name, @discussion.board %></h1>

<%= render "posts/new" %>

<hr>

<% @op_post = @discussion.posts[0] %>

<%= render "posts/op_post" %>

<%=  render @discussion.posts[1..-1]  %>