<div class="post">
    <div class="head">
        <span class="title">
            <%= post.title %>
        </span>

        <span class="author">
            <%= post.author %>
        </span>

        <span class="time">
            <%= post.added_at %>
        </span>
    </div>
    <%= post.text %>
</div>